################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/ProComp.Component.Database.dll
/bin/ProComp.Models.dll
