<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Common>
    <RefreshVisitorInterval>60</RefreshVisitorInterval>
    <isDebug>true</isDebug>
  </Common>
  <Connection>
    <Host>DD-MSI\SQLEXPRESS</Host>
    <Catalog>Farmerjoe</Catalog>
    <User>playsomegames</User>
    <Password>?5m7MtWtGq2=t2n@</Password>
  </Connection>
  <Settings>
    <HashCode>hashcode</HashCode>
  </Settings>
</Configuration>